
<% provide(:title, 'Picker') %>
<h1>Pick something</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag do %>
        <%= radio_button_tag(:character, "beavis") %>
        <%= label_tag(:age_child, "Beavis") %>
        <%= radio_button_tag(:character, "butthead") %>
        <%= label_tag(:age_adult, "Butthead") %>
        <%= submit_tag("Insert. Heheh, you said insert.") %>
    <% end %>
  </div>
